<!DOCTYPE html>
<html lang="en">
  <body style="font-family: Arial, sans-serif; background-color: #ffffff; padding: 20px;">
    <table padding: px>
      <tr>
        <td>
          <!-- Logo -->
          <img src="{{ logoUrl }}" alt="hatiri Logo" style="height: 30px;" />
        </td>
      </tr>
      <tr>
        <td style="padding-top: 20px;">
          <p>
            Congratulations, you're part of hatiri family now.
          </p>
          <p>
            Kindly login using your credentials to access your account
          </p>
          <p>
            <a href="{{ redirectUrl }}" alt="">Sign In</a>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
