<!DOCTYPE html>
<html lang="en">

  <body style="font-family: Arial, sans-serif; background-color: #ffffff; padding: 20px;">
    <table padding: px>
      <tr>
        <td>
          <!-- Logo -->
          <img src="{{ logoUrl }}" alt="Proprly Logo" style="height: 30px;" />
        </td>
      </tr>
      <tr>
        <td style="padding-top: 20px;">
          <p>
            Dear {{name}},
          </p>
          <p>
            Thank you for your interest in proprly platform and for your request to create an account. we
                    appreciate you taking the time to explore our platform.
          </p>
          <p>
            Unfortunately, we are unable to proceed with your account creation at this time as your request does
                    not meet our current eligibility criteria.
          </p>
        </td>
      </tr>
    </table>
  </body>

</html>
