<!DOCTYPE html>
<html lang="en">
  <body style="font-family: Arial, sans-serif; background-color: #ffffff; padding: 20px;">
    <table padding: px>
      <tr>
        <td>
          <!-- Logo -->
          <img src="{{ logoUrl }}" alt="Proprly Logo" style="height: 30px;" />
        </td>
      </tr>
      <tr>
        <td style="padding-top: 20px;">
          <p>
            Hello <strong>{{ name }}</strong>,
          </p>
          <p>
            Thank you for Signing up to Proprly Platform. Our Support team has successfully received your credentials and we will contact you shortly.
          </p>
          <p>
            For any questions, don't hesitate to contact us at 
            <a href="{{ supportEmail }}">{{ supportEmail }}</a>
          </p>
          <p>
            Best Regards,<br />Proprly Team
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
